<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
											http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
	<bean class="main.com.ssafy.ws.MovieAspect" id="movieAspect"></bean>
	<bean class="main.com.ssafy.ws.Audience" id="audience"></bean>

	<!-- Aop 코드작성 -->
	<aop:config>
		<aop:aspect ref="movieAspect">
			<aop:before method="Before" pointcut="execution(* *(..))" />
			<aop:after-returning method="After_Return" pointcut="execution(* *(..))" />
			<aop:after-throwing method="After_Throw" pointcut="execution(* *(..))" />
			<aop:after method="After" pointcut="execution(* *(..))" />
		</aop:aspect>
	</aop:config>

</beans>