.container{
    display: flex;
    flex-direction: column;
}

.title {
    align-self: center;
    font-size: 30px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    color:purple;
}

.timeBox {
    display: flex;  
    justify-content: flex-start;
    font-size: 20px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    color:purple;
}

#start {
    display: flex;
}

#end {
    display: flex;
}

.questionBox {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    color:purple;
}

.questionText {
    margin-left: 15px;
    font-size: 20px;
    font-family: 'Noto Sans KR';
    margin: 10px;
    padding-left: 15px;
    border-radius: 5%;
    border-style: none;
    background-color: whitesmoke;

}

.answerBox {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    color:purple;
}

.addButton {
    margin:10px;
    background-color: white;
    font-size: 20px;
    font-family: 'Noto Sans KR';
    border-radius: 10%;
}

#addTarget {
    font-size: 20px;
    font-family: 'Noto Sans KR';
    margin: 10px;
    border-radius: 5%;
    border-style: none;
    background-color: whitesmoke;
}

.addComp {
    font-size: 20px;
    font-family: 'Noto Sans KR';
    margin: 10px;
    border-radius: 5%;
    border-style: none;
    background-color: whitesmoke;
}
.answerList {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.answerList div{
    display: flex;
}

.answerList input {
    font-size: 20px;
    font-family: 'Noto Sans KR';
    margin: 10px;
    border-radius: 5%;
    border-style: none;
    background-color: whitesmoke;
}

.pollBox {
    align-self: center;
}

.makePoll {
    font-size: 20px;
    color:white;
    border-radius: 10%;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    background-color: purple;
}