header {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid black;
    box-shadow: 0px 3px 5px 0px gray;
    padding: 10px 0px 10px 0px;
}
header a {
    color: gray;
    text-decoration-line: none;
}
header-left {
    display: flex;
}
.header-title {
    font: 2em sans-serif;
}
#header-right {
    display: flex;
    align-items: center;
}
#header-right > *{
    padding: 10px;
}
notHeader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-direction: column;
}
main ul {
    display: flex;
    gap: 20px;
}
main ul li {
    border: 1px solid black;
    list-style-type: none;
    padding: 10px;
}
main ul li > * {
    text-align: center;
    word-wrap: normal;
    width: 200px;
}
main > img {
    border: 1px solid black;
}
#articles {
    display: flex;
    justify-content:space-around;
}

aside {
    display: flex;
    flex-direction: column;
}
aside > img {
    width: 200px;
    align-self: center;
    padding-top: 10px;
}
#stores * {
    border-radius: 5px;
}
#storeToggle {
    background-color: gray;
    text-align: center;
    font-size: large;
    padding: 0.5px;
}
#stores{
    width:100%;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
}
#stores ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    align-self: flex-start;
    padding: 0px;
    margin-top: 10px;
}
#stores ul > li {
    padding: 5px;
    text-indent: 10px;
    background-color: darkgray;
    min-height: 20px;
}
#stores span {
    font-weight: bold;
}
#poll {
    border: 1px solid gray;
    border-radius: 10px;
}
poll p {
    text-align: center;
}
.poll-options {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    padding: 5px;
}
.poll-options img {
    width: 50px;
}
footer {
    display: flex;
    width: 100%;
}
footer ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-left: 28%;
}
footer ul * {
    color: gray;
    text-decoration-line: none;
}
#new table {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid;
    padding: 5px 15px;
}
#pop tr:nth-of-type(odd):not(thead tr){
    background-color: rgb(247, 247, 247);
} 