body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

/* Header Part CSS */
header {
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0 4px 4px -2px gray; /* Add a shadow effect to the container */
}
header .container {
  display: flex;
  justify-content: space-around;
}
header .nav {
  display: flex;
}
header .brandBox {
  position: relative;
  bottom: 8px;
}
header .brand {
  color: gray;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  padding: 10px;
}
.menu {
  color: gray;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}
/* Main Part CSS */
main {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}
main .asideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 1em;
}
main aside {
  display: flex;
  flex-direction: column;
  width: 300px;
}
aside .sideIMG {
  border-radius: 15%;
  margin-bottom: 15px;
}
aside .sideBar {
  background-color: rgb(180, 180, 180);
  border-radius: 5%;
  width: 300px;
}
aside .sideBar p{
  color: black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
aside .locationList{
  padding-inline-start: 0px;
  width: 300px;
}
aside .locationBox {
  list-style-type: none;
  color: black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  background-color: whitesmoke;
  border-radius: 5%;
  margin-bottom: 10px;
  padding : 20px
}
aside .loc_component {
  list-style-type: none;
  padding-inline-start: 20px;
}
aside .poll {
  display: flex;
  flex-direction: column;
  border: solid;
  border-color: rgb(177, 177, 177);
  border-radius: 5%;
  width: 300px;
}
aside .poll .title {
  text-align: center;
  color: gray;
  font-size: 20px;
  font-weight: bold;
}
aside .poll .subtitle {
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
aside .pollList {
  list-style-type: none;
  padding-inline-start: 10px;
}
aside .buttons {
  align-self: flex-end;
  margin-right: 15px;
}
aside .buttons input{
  border-radius: 10%;
  width: 70px;
  height: 30px;
}
aside .buttons input[type=submit]{
  background-color: aquamarine;
}
aside .poll .Period {
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
main h3 {
  padding-inline-start: 40px;
}
main .PBookList {
  display: flex;
  list-style-type: none;
}
main .EssayList {
  display: flex;
  list-style-type: none;
}
main .bookBox {
  box-shadow: 0 4px 4px gray;
  margin: 10px;
}
main .bookBox figure {
  margin-inline: 10px;
}
main .bookBox figcaption {
  text-align: center;
}
main .book {
  width: 200px;
  height: 280px;
  border-radius: 5%;
  border: solid 1px rgb(218, 216, 216);
}
main .Bulletin {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 40px;
}
main .Bulletin h3 {
  padding-inline-start: 0px;
}
main .pop {
  text-align: start;
  vertical-align: middle;
  table-layout: fixed;
  width: 450px;
  height: 150px;
  border-collapse: collapse;
}
main .pop tbody tr:nth-child(2n + 1) {
  background-color: whitesmoke;
}
main .recent {
  text-align: start;
  vertical-align: middle;
  table-layout: fixed;
  width: 450px;
  height: 150px;
  border-collapse: collapse;
}
main .recent tbody tr td {
  border: 2px solid;
  border-color: whitesmoke;
}
footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
footer .footNav {
  display: flex;
  list-style-type: none;
}
footer .navBox {
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}
